<h1>Todo</h1>


<ul class="collapsible" data-collapsible="accordion">
  {{#each list}}
      <li>
        <div class="collapsible-header">{{this.title}}</div>
        <div class="collapsible-body"><p>{{this.description}}</p></div>
      </li>
  {{/each}}
</ul>
