<h1>Todo</h1>

<input id="newtitle" type="text" placeholder="title">
<textarea id="newdescription" placeholder="description" rows="4" cols="50"></textarea>
<button id="submit" class="btn" onclick="submit()">Submit</button>

<br><br>

<ul class="collapsible" data-collapsible="accordion">
  {{#each list}}
      <li>
        <div class="collapsible-header">
          {{this.title}}
          <button class="btn right" onclick="deleteitem({{this.pk_id}})">Delete</button>
        </div>
        <div class="collapsible-body"><p>{{this.description}}</p></div>
      </li>
  {{/each}}
</ul>
